
.imgDetailItem {
    height: 350px;
}

.containerItemDetail {
    min-height: 85vh;    
}

.containerItemDetail {
    min-height: 85vh;    
}

.containerDetail {
    border: 1px solid black;
    border-width: 3px;
    border-radius: 20px;
    // box-shadow: 1px 1px 35px  rgb(155, 155, 155);
    background-color: rgb(238, 238, 238);
}