@import "~bootstrap/scss/bootstrap";


.header {
    text-align: center;
    padding-top: 200px;
    color: #ffff;
}

body {
    background-color: black
}
h4 {
    color: #ffff;
}

.containerCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

