@import "~bootstrap/scss/bootstrap";

*{
    color: #ffff;
}


.header {
    text-align: center;
    padding-top: 200px;
    color: #ffff;
}

body {
    background-color: black
}
h4 {
    color: #ffff;
}

.containerCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    color: white;
}

img {
    height: 400px;
    margin-bottom: 20px;
}

button {
    background: rgb(97, 97, 124);
    height: 50px;
    width: 100px;
}