@import "~bootstrap/scss/bootstrap";

@import "./cardsProducts.scss";
@import "./header.scss";


body {
    background-color: black
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

